{% extends 'base.html' %}
{% block content %}
<br>
<h2 align="center">Click on the icons below to Login and Sign up</h2>
<br>
<br>
<br>
<div class="row">

    <div class="col s4">
        <div class="center">
            <a href="/alumniLogin/"><i class="large material-icons" style="color: #1565c0">people</i></a>
            <h6>Alumni Login</h6>
            <p class="light center">Click to enter Alumni Portal</p>
        </div>

    </div>
    <div class="col s4">
        <div class="center">
            <a href="univ/Login/"><i class="large material-icons" style="color: orange">account_circle</i></a>
            <h6>University Login</h6>
            <p class="light center">Institute Login here </p>
        </div>
    </div>
    <div class="col s4">
        <div class="center">
            <a href="/server/"><i class="large material-icons" style="color: green">person</i></a>
            <h6>Admin Login</h6>
            <p class="light center">Administrative Access</p>
        </div>
    </div>
</div>
{% endblock %}