{% extends 'base.html' %}
{% block content %}
<br>
<div class="container" style="text-align:right"><a href="Signup/">
    <button class="btn waves-effect waves-light" type="submit">Sign Up</button>
</a></div>
<div style="text-align:center">
    <h4>Login Portal</h4></div>
<br>
<div class="container">
    <div class="container">
        <form method="Post" class="col s20">
            <div class="container field col s12">
                <div class="row">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input-field col s12">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <button class="btn waves-effect waves-light" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}